@using Microsoft.AspNetCore.Http
@model Web.Models.MovieUI

@{
    ViewData["Title"] = "AddNewMovie";
}

<h1>Enter New Movie</h1>

<h4>MovieUI</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNewMovie">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discription" class="control-label"></label>
                <input asp-for="Discription" class="form-control" />
                <span asp-validation-for="Discription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Movie" asp-action="GetOnlyMovieWithoutSession" asp-route-id="@Context.Session.GetString("idHall")">Back to movies</a>
</div>

