@model IEnumerable<Web.Models.HallUI>

@{
    ViewData["Title"] = "GetHallByMovie";
}

<h1>GetHallByMovie</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <div>NUmber Hall</div><br/>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
                @Html.HiddenFor(modelItem => item.IdCinema)            
            <td>
                @Html.ActionLink("See areas", "GetAreasByIdHall", "Area", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
