@model IEnumerable<Web.Models.HallUI>

@{
	ViewData["Title"] = "SelectHallForMovie";
}

<h1>Select Hall For Movie</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				Number Hall
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IdCinema)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				@Html.HiddenFor(modelItem => item.IdCinema)
				<td>
					@Html.ActionLink("AddMovieForCinema", "Session", new {  id=item.Id  })
				</td>
			</tr>
		}
	</tbody>
</table>
