@model Web.Models.PlaceUI

@{
	ViewData["Title"] = "EditPlace";
}

<h1>Edit place</h1>

<h4>PlaceUI</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="EditPlace">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="NumberPlace" class="control-label"></label>
				<input asp-for="NumberPlace" class="form-control" />
				<span asp-validation-for="NumberPlace" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}
